*~
*.plt
*.svg
!examples/*.svg
*.dxf
*.pyc
*.pwj
*.ud
build/
dist/
env/
inkex/*.inx
boxes.py.egg-info/
boxes.egg-info/
.idea
documentation/src/generators.inc
*.ipynb_checkpoints
venv/
.venv/
.vscode/
tracker.log
*.isorted

boxes.code-workspace.WSL.code-workspace

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# OS
.DS_Store
.venv/
